{
  "extends": ["airbnb", "airbnb/hooks"],
  "rules": {
   "react/react-in-jsx-scope": "off",
   "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
   "jsx-a11y/anchor-is-valid": "off"
  },
  "globals": {
    "localStorage": true
  },
  "env": {
    "browser": true
  }
}