@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, -apple-system, sans-serif;
  text-align: center;
  width: 100%;
  height : 100vh;
}

body > #root > div > div {
  height: 100vh;
}
